<% content_for :title, "Editing #{@cocktail.name}" %>
<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing <%= @cocktail.name %></h1>

  <%= render "form", cocktail: @cocktail %>

  <div>
    <%= link_to "Show this drink", @cocktail, class: "btn btn-ghost" %> |
    <%= link_to "Back to drinks", root_path, class: "btn btn-ghost" %>
  </div>
</div>
